<div class="pt-6 pb-8 space-y-2 md:space-y-5">
  <h1
    class="text-3xl font-extrabold bg-clip-text text-transparent bg-gradient-to-r from-orange-500 via-yellow-400 to-yellow-200 tracking-tight sm:text-4xl md:text-6xl"
  >
    Company Blog
  </h1>
  <p class="text-lg leading-7 text-gray-500">All the latest Company news.</p>
</div>

<ul class="divide-y divide-gray-200">
  <li *ngFor="let post of available$ | async" class="py-12">
    <article
      class="space-y-2 xl:grid xl:grid-cols-4 xl:space-y-0 xl:items-baseline"
    >
      <dl>
        <dt class="sr-only">Published on</dt>
        <dd class="text-base leading-6 font-medium text-gray-500">
          <time [dateTime]="post.publishedAt">
            {{ post.publishedAt | date: "dd MMMM yyyy" }}
          </time>
        </dd>
      </dl>
      <div class="space-y-5 xl:col-span-3">
        <div class="space-y-6">
          <h2 class="text-2xl leading-8 font-bold tracking-tight">
            <a
              [routerLink]="post.route"
              class="text-gray-900 hover:text-gray-700"
            >
              {{ post.title }}
            </a>
          </h2>
          <div class="prose max-w-none text-gray-500">
            {{ post.description }}
          </div>
        </div>
        <div class="text-base leading-6 font-medium">
          <a
            [routerLink]="post.route"
            class="text-orange-500 hover:text-orange-600"
          >
            Read more &rarr;
          </a>
        </div>
      </div>
    </article>
  </li>
</ul>
